# Django
__pycache__/
*.py[cod]


# Local settings
.env

# Virtual environment
.venv/
venv/
ENV/
env/

# Static & media
media/
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
