# Django
__pycache__/
*.py[cod]


# Local settings
.env

# Virtual environment
.venv/
venv/
ENV/
env/

# Static & media
media/
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

*.json
*.sql
*.db
*_data.json
backup.sql
migrate_sqlite_to_pg.py
