{% load static %}

<div class="container-fluid footer mt-2  px-3 py-3" style="background:#000;">
    <div class="row">

        <!-- Left Links -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-md-auto ">
            <div class="col-8 mx-md-auto " >
            <h5 class="text-light text-decoration-underline" style="font-family: sans-serif;">Quick Links</h5>
            <ul class="list-unstyled mt-1 " >
                <li class="mb-md-2"><a href="{% url 'home' %}" class="text-light changeOver small text-decoration-none">Home</a></li>
                <li class="mb-md-2"><a href="{% url 'about' %}" class="text-white small changeOver text-decoration-none">About Us</a></li>
                <!-- <li><a href="{% url 'contact' %}" class="text-light  text-decoration-none">Contact Us</a></li> -->
                <li class="mb-md-2"><a href="{% url 'privacy' %}" class="text-light changeOver small text-decoration-none">Privacy Policy</a></li>
                <li ><a href="{% url 'support' %}" class="text-light changeOver small text-decoration-none">Support</a></li>
            </ul>
            </div>
        </div>

        <!-- Address -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 " >
            <div class="col-sm-6 col-md-6 col-lg-4 mx-md-auto ">
                <h5 class="text-light text-decoration-underline" style="font-family: sans-serif;">Address</h5>
                <ul class="list-unstyled bot mt-1 ">
                    <li class="text-light small mb-md-2">Kondalam Patti,</li>
                    <li class="text-light small mb-md-2">Salem-636010,</li>
                    <li class="text-light small mb-md-2">Tamil Nadu, India.</li>
                    <!-- <li class="text-light">dabzomusic@gmail.com</li>
                    <li class="text-light ">+91 8270557366</li> -->
                    <li class="text-light small mb-md-2"><a class="text-decoration-none changeOver text-info fs-6" href="https://kishore-portfolio-121.onrender.com/">Visit us <i class="bi bi-globe text-primary fs-6"></i> </a></li>
                </ul>

            </div>
            
        </div>

        <!-- Social Links -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex flex-column align-items-md-end align-items-sm-center ">
            <div class="col-lg-6 " style="font-family: sans-serif;">
            <h5 class="text-light text-md-center text-decoration-underline">Speed Test</h5>
             <li class="justify-content-center text-lg-center text-sm-start text-md-center list-unstyled">
                <a href="{% url 'speedtest' %}" class="mb-md-2">
                    <i class="fa-brands bi bi-speedometer2 text-warning fa-xl mb-2" ></i>
                </a>
            </li>
        
            
            <h5 class="text-light mb-1 text-md-center text-decoration-underline" style="font-family: serif;">Social Links</h5>

            <ul class="list-unstyled d-flex mt-2 gap-3 mx-auto justify-content-evenly">
                
                <li>
                    <a href="https://www.linkedin.com/in/kishore-subramani-2b8134113/"><i class="bi bi-linkedin fa-xl text-primary"></i></a>
                </li> <br>

                <li>
                    <a href="https://wa.me/8220557366"><i class="bi bi-whatsapp fa-xl text-success"></i>
                </li><br>

                <li>
                    <a href="https://www.instagram.com/kishore2.0_/"><i class="bi bi-instagram fa-xl" style="color: rgb(248, 62, 167);"></i></a>

                </li><br>

                <li>
                    <a href="https://www.facebook.com/kishore.don.961/"><i class="bi bi-facebook fa-xl" style="color: blue;"></i> </a>
                </li>

            </ul>
           
          </div>
        </div>

    </div>

    <hr class="text-white">
    <p class="text-center text-light mb-0 text-decoration-none">&copy; Dabzo 2025. All Rights Reserved.</p>
</div>
