
{% extends 'starApp/layouts/main.html' %}
{% load static %}

{% load custom_filters %}
{% block title %}
Video | streaming
{% endblock title %}
    {% block content %}
        <div class="contain-body">
            <div class="row sidebar">
                <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                    {% include 'starApp/inc/menu.html' %}             
                </div>
                <div class="main-content col-10 col-sm-10 col-md-10 col-lg-11">

                    <div class="container-fluid m-0 p-0">
                       
                        <div class="text-center m-0 p-0">
                            {% if video %}
                                {% with video|extract_youtube_id as video_id %}
                                    {% if video_id %}
                                        <iframe class="container-fluid p-0" height="640" width="1150"
                                            src="https://www.youtube.com/embed/{{ video_id }}?controls=0&modestbranding=1&rel=0"
                                            frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" 
                                            referrerpolicy="no-referrer-when-downgrade"
                                            allowfullscreen>
                                        </iframe>
                                
                                    {% else %}
                                        <video src="{{ video }}" height="640" width="1150" class="text-center stream px-1 py-0 mx-0" controls width="100%" height="100%">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <p class="text-white">No video available.</p>
                            {% endif %}
                        </div>

                        <h2 class="h2 text-white text-center" style="font-weight: 900;">{{ subtitle }}</h2>
                    
                        <p class="text-white">{{ videodescription }}</p>
                        <!-- {% if like %}
                        <i class="bi bi-heart-fill text-danger "></i>
                        {% else %}
                        <i class="bi bi-hand-thumbs-up"></i>
                        {% endif %} -->
                        <!-- <p class="text-white">{{ like|yesno:"Liked,Not Liked" }}</p> 
                        <p>Original Video URL: {{ video }}</p>
                        <p>Extracted Video ID: {{ video|extract_youtube_id }}</p> -->
                    </div>

                    <div class="container-fluid px-0 mx-0 rounded-3" style="background-color: #01111e;">

                        <div class="row m-0 p-0">
                            <h2 class="text-center text-muted fw-bold" style="text-shadow: 1px 1px 1px rgb(157, 154, 154); text-transform: uppercase;">{{categorytitle}}</h2>
                            {% for stream in streaming %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-lg-1">
                                <div class="text-start play-card h-75 ">
                                    <a class="link" href="{% url 'stream' videoName categorytitle stream.subtitle %}">
                                        <img class="card-img-top playcardimg" style="object-fit: cover; height: 88%;" src="{{ stream.videothumbnail.url }}"  alt="Title" />
                                        <div class="m-0 p-0">
                                            <h5 class="card-title cardfooter text-light ">{{ stream.subtitle }}</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    {% include 'starApp/inc/footer.html' %}
                </div>
            </div>
        </div>
    {% endblock content %}

    {% block scripts %}

    {% endblock scripts %}

    
