{% extends 'starApp/layouts/main.html' %}
{% load static %}

{% block title %}
Homepage
{% endblock title %}

 
{% block content %}

{% include 'starApp/inc/messages.html' %}


  

 <!-- <video class="video-background" src="{% static 'videos/BGPLAY.mp4' %}" autopla loop muted></video> -->
  <img
    src="{% static 'images/HomeBg.jpg' %}"
    class="img-fluid rounded-top opacity-100"
    alt=""
  />
  {% include 'starApp/inc/header.html' %}
  
  <h1 class="container-fluid home-display text-center">Listen and Watch music, <br> movies, TV shows for Free..</h1>


<div class="container-fluid mx-auto row pb-2 mid-content ">
     
   <div class="authBox rounded-2 py-3 bg-info" style="border: 0.5px solid aqua;">
        {% if request.user.is_authenticated %}
        <!-- <h4 class="display text-secondary text-center">Welcome Back !! </h4>  -->
        <div class="d-flex justify-content-center" >
           {% if user.userprofile.profilePicture %}
           <a href="{% url 'profile' %}">
                <img class="loginPic" src="{{ user.userprofile.profilePicture.url }}" alt="Profile Picture" width="100vw" height="100vw">
           </a>
           {% else %}
           <a href="{% url 'profile' %}">
                <img class="loginPic" src="{% static 'images/default-user.png' %}" alt="Default Profile" width="100vw" height="100vw">
           </a>
           {% endif %}

        </div>
        <h4 class="text-white text-center fw-bold" style="font-family: serif;">{{user.username}} </h4>
        <a href="{% url 'account_logout' %}" class="d-flex justify-content-center text-decoration-none"><button class="btn btn-danger text-center" style="background-color: rgb(218, 48, 48); box-shadow: 1px 1px 5px 5px rgb(243, 60, 60);">Logout <i class="bi bi-box-arrow-right fs-6"></i>  </button></a>
        

        {% else %}
        <h2 class="welcomeText1 text-white text-center fw-bolder">Hello Guest!!</h2>
        <p class="welcomeText2 text-black text-center fw-bold" style="font-family: serif;">Please Signup or login to continue..</p>

        <a class="auth-link " href="{% url 'account_login' %}">
          <button id="login-btn" class="btn text-white text-center mb-2" style="width: 130px; background-color: rgb(5, 147, 5); box-shadow: 1px 1px 5px 5px rgb(30, 251, 148);"><i class="bi bi-person-check fs-5"></i>  Login</button><br>
        </a>
        
        <p class="text-center text-white">or</p>

        <a class="auth-link" href="{% url 'account_signup' %}" >
        <button id="register-btn" class="btn btn-warning text-black text-center mb-3" style="width: 130px; box-shadow: 1px 1px 5px 5px rgb(239, 239, 52);" ><i class="bi bi-person-add fs-5 text-black"></i> Register</button>
        </a>
        {% endif %}
        </div> 
        

  
        <div class="container-fluid my-3 cltn py-4 " style="background-color: rgb(0, 0, 49);">
          <div class="row">
           
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 audio-content">
               <h1 class="title-content pb-1 fw-bolder" >Enjoy Unlimited Music on the Go..</h1>
               <p class="listItem pt-3">Tamil, English, Hindi, Telugu, Malayalam.</p>
               <p class="listItem pt-3">Ad-free Music ! </p>
            </div>
          
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mx-auto text-center">
              {% if request.user.is_authenticated %}
              <a href="{% url 'audio' %}"><img class="custom-icon rounded-3"  src="{% static 'images/music.jpg' %}" alt="music" ></a>
              {% else %}
              
              <button class="ciButton" onclick="alertAudioFunction()"><img class="custom-icon rounded " src="{% static 'images/music.jpg' %}" alt="music" ></button> <br>
               <div id="audioAlert" class="text-warning mt-4" ></div>
               {% endif %}
            </div>
          </div>
        </div>

        <hr class="bg-white my-2 ">

        <div class="container-fluid my-3 mx-auto cltn px-md-5 py-4" style="background-color: rgb(0, 0, 49);" >
           <div class="row">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 coverBox d-flex flex-column justify-content-center align-items-center text-center" >
                  {% if request.user.is_authenticated %}
                    <a href="{% url 'video' %}"><video class="video-icon" src="{% static 'videos/video.mp4' %}" autoplay loop muted></video></a>
                  {% else %}
                    <button onclick="alertVideoFunction()"><video class="video-icon" src="{% static 'videos/video.mp4' %}" autopla loop muted></video></button>
                    
                    <div id="videoAlert" class="text-warning mt-4"></div>
                  {% endif %}
                 </div>
                 <div class="col-12 col-sm-12 col-md-8 col-lg-8  d-flex flex-column justify-content-center align-items-end text-end">
                  
                     <h1 class="h1 title-content-2 fw-bolder pb-1 pt-3 ">Watch Everything and Everywhere..</h1>
                     <p class="listItem pt-3  ">Movies, Tv shows and Video Songs. </p>
                    <p class="listItem pt-3 ">Best Online Streaming platform !</p>
                    

                  
                   
                 </div>
           </div>
        </div>
</div>
{% include 'starApp/inc/footer.html' %}
<script>
  function alertAudioFunction(){
    document.getElementById('audioAlert').innerHTML='Please Sign in to Continue..'
  }

  function alertVideoFunction(){
    document.getElementById('videoAlert').innerHTML="Please Sign in to Continue.."
  }
</script>
{% endblock content %}
